<h1>cookings#edit</h1>

<%= form_with model: @cooking, local:true do |f| %>
  <label for="inputTitle">料理名</label>
  <%= f.text_field :title %>
  <label for="inputImage">画像</label>
  <%= f.attachment_field :cooking_image, placeholder: "料理の画像" %>
  <label for="inputIngredients">材料</label>
  <%= f.text_field :ingredients %>
  <label for="inputProcess">作り方</label>
  <%= f.text_field :process %>
  <%= f.submit '更新' %>
<% end %>