<h1>cookings#index(画像をクリックすると作り方が見られます)</h1>

<% @cookings.each do |cooking| %>
  <li>
    <%= link_to  cooking_path(cooking.id) do %>
      <%= attachment_image_tag cooking, :cooking_image, size: "100x100" %>
    <% end %>
  </li>
  <li>タイトル：<%= cooking.title %></li>
  <li>投稿者：<%= cooking.user.name %></li>
  <li>投稿日時：<%= cooking.created_at.strftime('%Y/%m/%d') %></li>
  <li><%= link_to "#{cooking.post_comments.count}コメント", cooking_path(cooking.id) %></li>
<% end %>