<div class="my-page img-fluid">

<div class="profile">
  <div class="user-introduction">
    <h2>
      <%= attachment_image_tag @user, :profile_image, size: "60x60", fallback: "no_image.jpg" %>
      <%= @user.name %>さんのレシピ<i class="fas fa-book"></i>
    </h2>
  </div>
  <div class="profile-button">
    <p>
    <%= link_to "プロフィール編集", edit_user_path, class: "btn btn-primary btn-sm mt-3 text-light" %>
    <%= link_to "新規投稿", new_cooking_path, class: "btn btn-primary btn-sm mt-3 mr-4 text-light" %>
    </p>
  </div>
</div>

<div class="container recipe-container">
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-0">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12">
      <div class="card-deck">
        <div class="row">
          <% @cookings.each do |cooking1,cooking2| %>
            <%= render 'users/card', cooking: cooking1 %>
            <% if cooking2 != nil %>
              <%= render 'users/card', cooking: cooking2 %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
   <div class="col-lg-1 col-md-1 col-sm-0"></div>
  </div>
</div>


</div>