<!DOCTYPE html>
<html>
  <head>
    <title>Cooknote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://kit.fontawesome.com/011967a858.js" crossorigin="anonymous"></script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <h2 class="fas fa-quran nav-header text-light">Cooknote</h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "マイページ", user_path(current_user.id), class: ' fas fa-user nav-link text-light' %>
        </li>
        <li class="nav-item">
          <%= link_to "レシピ", cookings_path, class: 'fas fa-utensils nav-link text-light' %>
        </li>
        <li class="nav-item">
          <%= link_to "ユーザー一覧", users_path, class: 'fas fa-users nav-link text-light' %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link text-light' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: 'fas fa-user-plus nav-link text-light' %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: 'fas fa-sign-in-alt nav-link text-light' %>
        </li>
        <li>
          <%= link_to "ホーム", root_path, class: 'fas fa-home nav-link text-light' %>
        </li>
      <% end %>
      </ul>
      </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>


    <footer class="footer">
      <p>copyright practice-app</p>
    </footer>
   </div>
  </body>
</html>
